h1{
  font-family: 'Megrim', cursive;
  text-align: center;
}
body{
  background-color: #D2FDFF;
  display: flex;
  flex-direction: column;
}
img{
  width: 80px;
}
.position{
  text-align: center;
}
#code1>img{
  width: auto;
  text-align: center;
}
nav>ul>li>a{
  color: #000000;
  background-color: #FC9E4F;
  padding:18px;
  margin:0 auto;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
  text-align: right;
}
nav>ul>li>a:hover{
  color: #832161;
  background-color:#FC9E4F;
}